// file to change default Bootstrap colors

// Default variable overrides
$primary: #003566;
$secondary: #6c757d;
$success: #06d6a0;
$info: #1d8cf8;
$warning: #ffc300;
$danger: #f1332c;
$light: #c2c9d1;
$dark: #171725;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";