:root {
  --glow-color: #0A7AEA;
  --dark-bg-color: #171725;
  --dark-card-color: #27293d;
  --paragraph-color: #c2c9d1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar style */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #27293d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-info);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b63bb;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
}

/* Header and Footer */
h1 {
  font-family: 'Bebas Neue', cursive;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  min-height: 48px;
}

h2,
h3,
h4,
h5,
h6,
.hero p {
  font-family: 'Oswald', sans-serif;
}

.cm-font-family {
  font-family: 'Kanit', sans-serif;
}

.cm-font-heading {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: rgb(0, 0, 0, 0.87);
  backdrop-filter: blur(2px);
}

.nav-link {
  color: rgb(190, 190, 190);
  transition: all ease-in-out 0.3s;
}

.nav-link:hover {
  color: rgba(255,255,255);
  text-shadow: 
    0px 0px 10px var(--glow-color), 
    0px 0px 15px var(--glow-color), 
    0px 0px 20px var(--glow-color),
    0px 0px 20px var(--glow-color);
}

.selected-color {
  color: rgb(255, 255, 255);
  text-shadow: 
    0px 0px 10px var(--glow-color), 
    0px 0px 15px var(--glow-color), 
    0px 0px 20px var(--glow-color),
    0px 0px 20px var(--glow-color);
}

/* Sections */
section {
  scroll-margin-top: 6rem;
}

.section-title {
  font-size: 3rem;
  border-color: var(--bs-info) !important;
}

.custom-bg-color {
  background-color: var(--dark-bg-color);
}

.custom-text-color {
 color: var(--paragraph-color);
}

.custom-btn {
  color: #ffffff;
  background: #1d8cf8;
  background-image: linear-gradient(to bottom left,#1d8cf8,#3358f4,#1d8cf8);
  background-size: 200% 200%;
  background-position: 100% 0;
  transition: all ease-in-out 0.3s;
}

.custom-btn:hover {
  background-position: 0 100%;
}

.custom-height {
  min-height: calc(100vh - 64px - 104px);
}

.container {
  transition: all ease-in-out 0.3s;
}

/* About Me section */
.hero {
  min-height: calc(100vh - 64px);
  background: url(../src/assets/images/bg-image.jpg) no-repeat fixed center;
  background-size: cover;
}

.hero h2 {
  font-size: 5rem;
}

.hero h2, .hero p {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/* background animation */
.bg-animation {
  background-size: 200% 200%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.portrait-image {
  border-radius: 50%;
  width: 300px;
}

/* Projects */
.card, form {
  background: var(--dark-card-color);
}

.card-top{
  background-color: black;
  overflow: hidden;
}

.card-img-top:hover {
  opacity: .6;
  transition: all ease-in-out 0.3s;
}

/* Contact section */
#contact-form {
  width: 40rem;
}

.form-control:focus {
  border-color: var(--bs-info) !important;
}

/* Resume section */
.skill-card {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 8vw;
  }

  .skill-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 15vw;
  }

  .portrait-image {
    width: 60vw;
  }

  .custom-fs {
    font-size: 16px;
  }
}