:root {
  --primary-color: #003566;
  --secondary-color: #ffc300;
  --glow-color: #0A7AEA;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
}

/* Header and Footer */
h1 {
  font-family: 'Bebas Neue', cursive;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  min-height: 48px;
}

h2,
h3,
h4,
h5,
h6,
.hero p {
  font-family: 'Oswald', sans-serif;
}

.cm-font-family {
  font-family: 'Kanit', sans-serif;
}

.cm-font-heading {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: rgb(0, 0, 0, 0.87);
  backdrop-filter: blur(2px);
}

nav {
  transition: all ease-in-out 0.3s;
}

.nav-link {
  color: rgb(190, 190, 190);
}

.nav-link:hover {
  color: rgba(255,255,255);
  text-shadow: 0px 0px 10px var(--glow-color), 
    0px 0px 15px var(--glow-color), 
    0px 0px 20px var(--glow-color),
    0px 0px 20px var(--glow-color);
}

.selected-color {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px var(--glow-color), 
    0px 0px 15px var(--glow-color), 
    0px 0px 20px var(--glow-color),
    0px 0px 20px var(--glow-color);
}

/* Sections */
section {
  scroll-margin-top: 6rem;
}

.section-title {
  font-size: 3rem;
  border-color: var(--bs-secondary) !important;
}

.custom-bg-color {
  background-color: var(--bs-light);
  background: linear-gradient(var(--bs-light),#e4e4e4);
}

.custom-height {
  min-height: calc(100vh - 64px - 96px);
}

.container {
  transition: all ease-in-out 0.3s;
}

/* About Me section */
.hero {
  min-height: calc(100vh - 64px);
  background: url(../src/assets/images/bg-image.jpg) no-repeat fixed center;
  background-size: cover;
}

.hero h2 {
  font-size: 5rem;
}

.hero h2, .hero p {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.portrait-image {
  border-radius: 50%;
  width: 300px;
}

/* Projects */
.card-top{
  background-color: black;
  overflow: hidden;
}

.card-img-top:hover {
  opacity: .6;
  transition: all ease-in-out 0.3s;
}

/* Contact section */
#contact-form {
  width: 40rem;
}

/* Resume section */
.skill-card {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 8vw;
  }

  .skill-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 15vw;
  }

  .portrait-image {
    width: 60vw;
  }

  .custom-fs {
    font-size: 16px;
  }
}